body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:83%
	padding: 20px;
	padding-top: 32px;
     #background-color: #6993c3 !important;
     background-color: white
     color: black;
	margin: 20px 20px 20px 20px;
 }
 
 
#MainPage {
	width: 960px;
}

#MainPage  #header {
	text-align: right;
	
}

#MainPage  #header  a {
	clear: both;
	padding-right: 5px;
	padding-left: 5px;
}


#MainPage  #footer  p {
	clear: both;
	padding-right: 5px;
	padding-left: 5px;
	text-indent: 5px;
}
