<?xml version="1.0" encoding="UTF-8"?>

<web-app
	 xmlns="http://java.sun.com/xml/ns/j2ee"
	 version="2.4"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		   classpath:conf/context-acegi-plugin.xml,
		   classpath:conf/context-servlet.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>AcegiFilterChainProxy</filter-name>
		<filter-class>
			org.springframework.security.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.springframework.security.util.FilterChainProxy
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AcegiFilterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.security.ui.session.HttpSessionEventPublisher
		</listener-class>
	</listener>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-name>GWTSpring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GWTSpring</servlet-name>
		<url-pattern>*.rpc</url-pattern>
	</servlet-mapping>

	<!-- 
		Note, the shell servlet is only used in hosted mode. The shell
		servlet is not part of the production binary for the application.
	-->

	<servlet>
		<servlet-name>shell</servlet-name>
		<servlet-class>
			com.google.gwt.dev.shell.GWTShellServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shell</servlet-name>
		<url-pattern>/shell/*</url-pattern>
	</servlet-mapping>

</web-app>