body {
     font-family: Helvetica, Arial, sans-serif;
  	 font-size: 10pt;
     padding: 20px;
     padding-top: 32px;
     #background-color: #6993c3 !important;
     background-color: white
     color: black;
     margin: 20px 20px 20px 20px;
 }
 
 .gwt-HTML {
 	font-size: 10pt;
 }
 
 .common.error.red {
 	font-size: 15px;
 	color: red;
 }
 
 .generator-desc {
 	font-size: 10pt;
 }
 
 .generator-require {
 	font-size: 10pt;
 	color: red;
 }
 
 .generator-validate {
 	font-size: 10pt;
 	color: red;
	font-weight: bold;
 }
 
 /** header toolbar */
 .header-toolbar {
	border:0 none;
	/*background: #efefe3 url(../images/vista/toolbar/gray-bg.gif) repeat-x;*/
	background-color: white
	padding:3px;
 }

 .header-toolbar .ytb-button-over {
	border:1px solid transparent;
	border-bottom:1px solid #bbbbbb;
	border-top:1px solid #eeeeee;
	background-color: white
	/**background:#9f9f9f url(../images/vista/grid/grid-vista-hd.gif) repeat-x;*/
 }

 
